<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lilita+One&display=swap" rel="stylesheet">    
    <link rel='stylesheet' href='/stylesheets/style.css' />   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <title>Document</title>
    <script>
        function hamburger() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
        </script>
</head>
<body>

<div class="topnavhb" >
    <div>
            <a href="/" class="active">
                <img src="/img/big-fish-logo.png" style="height:100px"></img>
            </a>
        
    </div>
    <div id="myLinks">
        <a href="/customerpages/aboutus">About</a>
        <a href="/customerpages/recordsoftheweek">Records of the Week</a>
        <a href="/customerpages/contactus">Contact</a>
        <a href="/managerecords">Admin</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="hamburger()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div class="topnav">
    <a href="/">Home</a>
    |
    <a href="/customerpages/aboutus">About</a>
    |
    <a href="/customerpages/recordsoftheweek">Records of the Week</a>
    |
    <a href="/customerpages/contactus">Contact</a>
    |
    <a href="/managerecords">Admin</a> 
</div>
