/*--------------------------------------------*/
/* Express's original body styling*/
/*--------------------------------------------*/

body {
  padding: 50px;
  font-family: 'Caveat', cursive;
  /*font-family: 'Lilita One', cursive;*/
  font-size: x-large;
}



social-media{
  text-align: center;
  display: block;


}








/*--------------------------------------------*/
/* styling for the list on the admin index page */
/*--------------------------------------------*/

.adminlist{
  display:inline-block
}

.adminlist{
  display:inline-block
}



/*--------------------------------------------*/
/* styling for the "records of the week page */
/*--------------------------------------------*/

.record-container{
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.recordoftheweek{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 50%;
}

.recordsoftheweek{
  display:inline-block;
  margin: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------*/
/* styling for the navigation bar */
/*--------------------------------------------*/

.topnav{
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.topnav a {
  color: #7F7F7F;
  /*font-family: 'Lilita One', cursive; */
  font-family: 'Caveat', cursive;
  font-size: x-large; 
  color: #7F7F7F;
  text-decoration: none;
}

header {
  z-index: 1;
  position: relative;
  width: 100%;
}

.title-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 10rem;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,.2);
}

.header-title {
  display: flex;
  align-items: baseline;
  font-size: 2em;
  margin-left: 1rem;
  gap: .35em;
}

.header-title > a {
  text-decoration: none;
  font-weight: 500;
  font-style: italic;
}

.subtitle {
  display: none;
}

.mobile-subtitle {
  font-weight: 300;
  font-size: 1.5rem;
  font-style: italic;
  color: #7F7F7F;
}

.mobile-menu {
  margin-right: 20px;
  margin-top: 0.4rem;
}

.navigation-menu {
  display: none;
  background-color: white;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,.2);
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.main-links {
  flex-direction: column;
  margin-bottom: 1.5rem;
  /*font-family: 'Lilita One', cursive;  */
  font-family: 'Caveat', cursive; 
}

.extra-links {
  justify-content: space-evenly;
  gap: 2rem;
  padding-bottom: 1.5rem;
}

.main-links>li {
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid rgba(113, 106, 92, .2); /* Variation of #716A5C to reduce opacity of border*/
}

.main-links>li:nth-of-type(3) {
  border-bottom: none;
}

.main-links>li>a {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: xx-large;
}

li > a {
  text-decoration: none;
  color: #7F7F7F;
  font-size: 1.25rem;
  font-weight: 400;
}

/*--------------------------------------------*/
/* media queries styling */
/*--------------------------------------------*/
/* media queries  */
@media (max-width: 480px) {
  .topnav {
    display: none;
  }
}