<%- include('../partials/header.ejs') %>
<p>In 2014, Big Fish Vinyl Records was founded in tiny shop on Emma Street in Downtown Springdale. Since then we've
    grown and moved to a large location just a few blocks from downtonwn.</p>
    
<p>We're a small,
    locally-owned, independent record store, and our goal is to provide you with quality vintage vinyl, 
    cassettes, CDs, VHS tapes, DVDs and other media and uniques. We also specialize in a number of unique 
    items. Each time you visit Big Fish, you'll find something new and unique to take home!</p>

<p>We're located at 102 Quandt Avenue. Check out our hours below:</p>

<ul style="display: block; text-align: center;">
    <li>Tues-Friday 5pm - 9 pm</li>
    <li>Saturday 10am - 6 pm</li>
    <li>Closed Sunday and Monday</li>
</ul>


<%- include('../partials/footer.ejs') %> 